In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import os
import sys
nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)

In [2]:
from data_transforms import clean_data, update_data
from single_use_scripts import extract_region_map, process_pipeline
from utils import tools, constants

In [3]:
data_source = '../data/EGR_2001-2016_SAMPLE.csv'
full_data = '../../data/EGR_2001-2016.csv'

In [4]:
df = process_pipeline.main()

Removing all rows from data with year not in range [2001,2016]...
Removing rows from data that do not have a specified sex...
adding column INSURE_TYP to indicate insurance type. This may take a bit
removing 49 rows that have unlisted regions
Mapping region values back to pre 2007 listing...
loading function dictionary to apply to groupings..

In [5]:
df

       SEXO                 INSURE_TYP             COND_EGR
      total males females private_hosp public_hosp     dead    alive
year
2001  15012  5813    9199           37       10854    320.0  14692.0
2002  15428  5974    9454          516       10707    291.0  15137.0
2003  15825  6156    9669         2386       11549    280.0  15545.0
2004  15991  6155    9836         2387       11755    299.0  15692.0
2005  16389  6361   10028         2278       12263    298.0  16091.0
2006  16311  6371    9940         2263       12233    296.0  16015.0
2007  16467  6363   10104         2096       12610    324.0  16143.0
2008  15930  6084    9846         2388       12096    297.0  15633.0
2009  16766  6461   10305         2731       12518    344.0  16422.0
2010  16208  6311    9897         2823       11905    345.0  15863.0
2011  16474  6470   10004         2870       12220    295.0  16179.0
2012  16599  6538   10061         2866       12225    337.0  16262.0
2013  16822  6528   10294         3098       12137    332.0  16490.0
2014  16528  6505   10023         3285       11860    350.0  16178.0
2015  16675  6724    9951         3359       11892    310.0  16365.0
2016  16378  6586    9792         3247       11766    350.0  16028.0

### Things to be cleaned

* uknown ages -- None Found
* uknown exit date -- COMPLETE
* uknown gender -- remove all non male (1)/female (2) (mapping consistency has been checked)
* uknown insurer -- COMPLETE
* uknown exit condition (alive/dead) -- COMPLETE and consistency checked

### To be updated and/or verified

* inspect and possibly clean regions that are unlisted (eg region 99) --COMPLETE
* There was a change made in 2007 to the regions. ---COMPLETE
* check that insurer type has same coding through all sets of years and remap values if necessary -- COMPLETE
* create age groups as another field for the data